@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@theme {
    --color-tertiaryColor: hsl(0, 100%, 100%);
    --color-primaryGray: hsl(270, 3%, 87%);
    --color-secondaryGray: hsl(212, 12%, 71%);
    --color-primaryPurple: hsl(278, 68%, 11%);
    --color-errorRed: hsl(0, 100%, 66%);
}

@layer base {
    body {
        color: var(--color-primaryPurple);
        font-family: "Space Grotesk", sans-serif;
    }
}


@layer components {
    input {
        border-color: var(--color-secondaryGray);
    
        &::placeholder {
            color: var(--color-secondaryGray)
        }
    }

    
}